- leads.each do |lead|
  %tr
    %td
      = lead.id.to_s
    %td
      = lead.name
    %td
      = lead.phone
    %td
      = lead.email
    %td
      - if lead.status_id
        = lead.status.name
      - else
        Новый
    %td
      = link_to 'просмотреть', lead_path(lead)