%ol.breadcrumb
  %li
    = link_to 'Клиенты', leads_path
  %li.active
    = "(##{@lead.id})"
    = @lead.name


.row
  .col-md-6
    %legend
      = @lead.name
    .panel.panel-default
      .panel-heading
        Возможные действия
      .panel-body
        %a.btn.btn-primary{href: '#'} Редактировать
        %a.btn.btn-danger{href: '#'} Удалить
        .btn-group
          %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
            Изменить статус
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: '#'} Новый
            %li
              %a{href: '#'} Перезвонить



        -#.btn-group
          %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
            Действия
            %span.caret

    %table.table.table-striped
      %tr
        %td
          Телефон
        %td
          = @lead.phone

      %tr
        %td
          Email
        %td
          = @lead.email


  .col-md-6
    -#%h2
      Комментарии

    -#.panel.panel-default
      .panel-heading
        Добавить комментарий
      .panel-body
        %form
          %textarea{cols: '75', rows: '5'}
          %br
          %button.btn.btn-success Добавить

    %legend
      Последние комментарии

    %ul.media-list
      %li.media
        .pull-left
          %img.media-object{'data-src' => 'holder.js/64x64'}
        .media-body
          %h5.media-heading
            Кирилл
            %small 5 января в 14:00
          ОЛОЛОЛО





















